
[submodule "seriate"]
	path = seriate
	url = git@github.com:jonathanweiss1/seriate.git
[submodule "MRI-Phase-Unwrapping"]
	path = MRI-Phase-Unwrapping
	url = https://github.com/mahletA/MRI-Phase-Unwrapping.git
